<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activation code</title>
    <style>
        body{
            display: flex;
            align-items: center;
            height: 60vh;
            font-family: sans-serif;
        }
        .content{
            box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.144);
            width: 60%;
            margin: auto;
            text-align: center;
        }
        @media only screen and (max-width:992px) {
            .content{
                width: 90%;
            }
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>activation code</h1>
        <p>your activation code is <b>{{ code }}</b></p>
    </div>
</body>
</html>